.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
  width: 30px;
  width: 30px;

}

mat-card-image {
  width: 100px;
  height: 100px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  column-count: 2;
  columns: 2;
}

.flex-container > div {
  margin: 10px 10px 10px 10px;
  box-shadow: 5px 10px rgba(235, 82, 129, 0.20);

}
