nav {
  margin-top: 20px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

}


nav > button {
  width: 100px;
  height: 100px;
}

.icon-display {
  transform: scale(2);
}
